/* basic */
:root {
  --basic-0-0: #edb1f1;
  --basic-1-0: #d59bf6;
  --basic-1-1: #e0c3f0;
  --basic-1-2: #ebd1f4;
  --basic-1-3: #f6dff8;
  --basic-1-4: #fef0fc;
  --basic-2-0: #9896f1;
  --basic-3-0: #ffd900;
  --basic-4-0: #3eede7;
  --basic-5-0: #c9171e;

  --neutral-0: #fffefb;
  --neutral-1: #f5f4f1;
  --neutral-2: #cccbc8;
  --neutral-3: #808080;
  --neutral-4: #313d44; 
  --neutral-5: #1d1c1c;

  --spical-0: rgba(213, 155, 246, 0.6);
}

:root {
  --owner: var(--basic-3-0);
  --admin: var(--basic-4-0);
  --text: var(--neutral-5);
  --text-alt: var(--neutral-1);
  --check: var(--basic-1-0);
  --warn: var(--basic-5-0);
}

/* chatPage */
:root {
  --chatPage-leftSide: var(--neutral-0);
  --chatPage-userInfo: var(--neutral-1);
  --chatPage-header: var(--neutral-1);
  --chatPage-center: var(--neutral-1);
  --chatPage-conversationView-border: var(--neutral-2);
  --chatPage-inputBox-border: var(--neutral-2);
}

/* groupItem */
:root {
  --groupItem-hoverBg: var(--neutral-1);
  --groupItem-pinnedBg: var(--neutral-1);
  --groupItem-normalBg: var(--neutral-0);
  --groupItem-activeBg: var(--basic-1-0);
  --groupItem-attention: var(--basic-1-0);
  --groupItem-groupName: var(--neutral-5);
  --groupItem-groupNameActive: var(--text-alt);
  --groupItem-currMessageContext: var(--neutral-3);
  --groupItem-currMessageContextActive: var(--text-alt);
  --groupItem-time: var(--neutral-5);
  --groupItem-timeActive: var(--text-alt);
  --groupItem-unread: var(--basic-1-0);
  --groupItem-unreadText: var(--neutral-5);
}

/* chatItem */
:root {
  --chatItem-attentionButton: var(--basic-2-0);
  --chatItem-flash: var(--basic-0-0);
}

/* inputBox */
:root {
  --inputBox-inputBoxRoot: transparent;
  --inputBox-bar: transparent;
  --inputBox-barItem: var(--neutral-5);
  --inputBox-textarea: transparent;
  --inputBox-previewAudio: var(--basic-1-0);
  --inputBox-iconDisabled: var(--neutral-3);
}

/* messageType */
:root {
  --message-commonBg: var(--basic-1-0);
  --message-fileBg: var(--basic-1-0);
  --message-atItem: var(--text-alt);
  --message-content: var(--neutral-5);
  --message-volume: var(--neutral-1);
  --message-progress: var(--spical-0);
}

/* atBar */
:root {
  --atBar-atCard: var(--basic-1-0);
  --atBar-atText: var(--text-alt);
}

/* favorite */
:root { 
  --favorite-favoriteRoot: var(--neutral-1);
  --favorite-eachImg-hover: transparent;
}

/* eachMember */
:root {
  --eachMember-hover: var(--neutral-1);
}

/* groupSelector */
:root { 
  --groupSelector-hover: var(--basic-0-0);
  --groupSelector-selected: var(--basic-1-0);
}

/* messageMenu */
:root {
  --messageMenu-msgMenuRoot: var(--neutral-1);
  --messageMenu-msgMenuRoot-hover: var(--basic-1-0);
}

/* tools */
:root {
  --tools-toolsRoot: var(--neutral-0);
  --tools-searchResult: var(--neutral-2);
  --tools-searchResultOper: var(--basic-1-0);
}

/* 覆盖el原有样式 */
.el-dialog, .i-dialog-footer, .dialogMain {
  background-color: var(--neutral-0) !important;
}

:root {
  --el-color-primary: var(--basic-1-0) !important;
  --el-color-primary-light-3: var(--basic-1-1) !important;
  --el-color-primary-light-5: var(--basic-1-2) !important;
  --el-color-primary-light-7: var(--basic-1-3) !important;
  --el-color-primary-light-8: var(--basic-1-4) !important;
  --el-color-primary-light-9: var(--basic-1-4) !important;
  --el-button-hover-text-color: var(--neutral-0) !important;
  --el-fill-color-blank: var(--neutral-0) !important;
}